
<app-header-front></app-header-front>    
                      
<div class="container">

   <div class="main-video-container">
      
      <iframe 
       class="list-video" 
       type="text/html" 
       width="750" 
       height="405px"
       [src]="sanitizedUrl"
       frameborder="0"></iframe>
       <h3 class="main-vid-title"> {{ firstElement.title }} </h3>
      <span> {{ firstElement.description }} </span>
   </div>

   <div class="video-list-container">

      <div class="list active">
         <iframe 
       class="list-video" 
       type="text/html" 
       width="640" height="50px"
       [src]="sanitizedUrl"
       frameborder="0"></iframe>
         <h3 class="list-title"> {{ firstElement.title }}</h3>
      </div>

      <div class="list"  *ngFor="let c of secondList" >
         <iframe class="list-video" 
          type="text/html" width="640" height="50px"
           [src]="c.sanitizedLnk"
          frameborder="0"></iframe>
    <h3 class="list-title"> {{ c.title }} </h3>
      </div>

    

   </div>

</div>



<div *ngIf="listcourseContents.length === 0">
   <div  class="text-center py-4">
                           <img
                             src="https://i.pinimg.com/originals/5d/35/e3/5d35e39988e3a183bdc3a9d2570d20a9.gif"
                             height="400px"
                           />
                         </div>

</div>








<!--  js   -->
<script> 
 let videoList = document.querySelectorAll('.video-list-container .list');

videoList.forEach(vid =>{
   vid.onclick = () =>{
      videoList.forEach(remove =>{remove.classList.remove('active')});
      vid.classList.add('active');
      let src = vid.querySelector('.list-video').src;
      let title = vid.querySelector('.list-title').innerHTML;
      document.querySelector('.main-video-container .main-video').src = src;
      document.querySelector('.main-video-container .main-video').play();
      document.querySelector('.main-video-container .main-vid-title').innerHTML = title;
   };
});
</script>

<app-footer-front></app-footer-front>