<app-header-front></app-header-front>
<br><br>

<div class="container" *ngIf="listcourseContents.length > 0">
  <!-- Main Video -->
  <div class="main-video-container">
    <iframe
      *ngIf="sanitizedUrl"
      class="list-video"
      type="text/html"
      width="750"
      height="405"
      [src]="sanitizedUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p *ngIf="!sanitizedUrl">Invalid or missing YouTube URL</p>
    <h3 class="main-vid-title">{{ firstElement!.title || 'No title' }}</h3>
    <span>{{ firstElement!.description || 'No description' }}</span>
  </div>

  <!-- Video List -->
  <div class="video-list-container">
    <!-- First Element -->
    <div
      class="list"
      [ngClass]="{ active: activeIndex === 0 }"
      (click)="playVideo(0)"
    >
      <input type="checkbox"  />
      <iframe
        *ngIf="sanitizedUrl"
        class="list-video"
        type="text/html"
        width="320"
        height="50"
        [src]="sanitizedUrl"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <h3 class="list-title">{{ firstElement!.title || 'No title' }}</h3>
      <div>
        <button
          mat-raised-button
          class="btn btn-danger"
          style="height: 40px; width: 80px; margin-bottom: 10px;"
        >
          Delete
        </button>
      </div>
    </div>

    <!-- Second List -->
    <div
      class="list"
      *ngFor="let c of secondList; let i = index"
      [ngClass]="{ active: activeIndex === i + 1 }"
      (click)="playVideo(i + 1)"
    >
      <input type="checkbox"  />
      <iframe
        *ngIf="c.sanitizedLnk"
        class="list-video"
        type="text/html"
        width="320"
        height="50"
        [src]="c.sanitizedLnk"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <h3 class="list-title">{{ c.title || 'No title' }}</h3>
      <div>
        <button
          mat-raised-button
          class="btn btn-danger"
          style="height: 40px; width: 80px; margin-bottom: 10px;"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Empty State -->
<div
  *ngIf="listcourseContents.length === 0"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  "
>
  <h1>No Content For This Course</h1>
  <img
    src="https://i.pinimg.com/originals/5d/35/e3/5d35e39988e3a183bdc3a9d2570d20a9.gif"
    height="400px"
  />
</div>
<app-footer-front></app-footer-front>