<app-header-front></app-header-front>    
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Courses</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->                <div class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0" style="margin-right: 100px;" > 
     <!-- <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="">New Course</a> -->
      <div style="margin-left: 72%;">
          <input
    #searchInput
    type="text"
    class="form-control me-2"
    placeholder="Search Courses..."
    (keyup)="filterTable(searchInput.value)"
    style="width: 200px;"
  />

                                                  
      </div>
<button mat-raised-button class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block"
                  (click)="openAddCourseForm()"
                  style="margin-left: 90%; height: 40px;"
                  >
                  <i class="fas fa-plus me-2"></i>Add Course
                </button>


    </div>

    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Your Courses</h1>
            </div>
            <div class="row" >
                <div *ngFor="let f of filteredFormations" class="col-lg-4 col-md-6 mb-4" >
                    <div class="rounded overflow-hidden mb-2 course-card" >
                        <img class="img-fluid" 
                              [src]="'data:' + f.imageType + ';base64,' + f.image"
                        alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i> {{ convertDuration(f.duration) }}</small>
                            </div>
                            <h2> {{f.title}} </h2>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                  <h5 class="m-0">{{f.price}} 💰</h5>
                                  <div>
                                      <button mat-raised-button class="btn btn-sm " style="height: 35px;" (click)="AssignCourseToFormation(f.id)"
        >  Assign 
</button>
                                     <button mat-raised-button class="btn btn-sm btn-square btn-neutral text-danger-hover" 
        (click)="openDetailsCourse(f.id)">
  <i class="text-info fa fa-info me-2"></i> 
</button>
                                                                   <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover" (click)="deleteCourse(f.id)">
                                            <i class="text-danger fa fa-trash"></i>
                                        </button>
                                                                     <button mat-raised-button class="btn btn-sm btn-square btn-neutral text-danger-hover" 
        (click)="openEditCourseForm(f.id)">
  <i class="text-warning fa fa-edit me-2"></i> 
</button>

                                  </div> 
   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
<app-footer-front></app-footer-front>