<div class="cart-sidebar">
  <!-- Message si le panier est vide -->
  <p *ngIf="!cartProducts || cartProducts.length === 0">Your cart is empty.</p>

  <!-- Affichage des produits si le panier contient des articles -->
  <app-cart-products *ngIf="cartProducts && cartProducts.length > 0" [cartProducts]="cartProducts"
    [totalTND]="totalTND"
  [totalTokens]="totalTokens"></app-cart-products>
  <!-- Affichage du total -->
  <div class="cart-total" *ngIf="cartProducts && cartProducts.length > 0">
    <hr />
    <p><strong>Total en TND :</strong> {{ totalTND | currency: 'TND' }}</p>
    <p><strong>Total en Tokens :</strong> {{ totalTokens }} 🪙</p>
  </div>
</div>
