<app-header-front></app-header-front>    
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Courses</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" 
                                      routerLink="/courses"
>Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

                  <input
    #searchInput
    type="text"
    class="form-control me-2"
    placeholder="Search Categories..."
    (keyup)="filterTable(searchInput.value)"
    style="width: 300px; margin-left: 70%;"
  />

    <!-- Category Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                <h1>Explore Top Subjects</h1>
            </div>
            <div class="row"   style="cursor: pointer;"   >
                <div  *ngFor="let c of filteredCategories"  class="col-lg-3 col-md-6 mb-4">
                    <div  class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid"  [src]="'data:' + c.imageType + ';base64,' + c.image" alt="">
                        <a class="cat-overlay text-white text-decoration-none" (click)="getCoursesOfCateory(c.id)">
                            <h4 class="text-white font-weight-medium">{{c.name}}</h4>
                            <span> {{ c.courseCount }} Courses</span>
                        </a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- Category Start -->


<app-footer-front></app-footer-front>