/* Conteneur principal de l'image */
.carousel-container {
    position: relative;
  }
  
  /* Image principale */
  .main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  /* Flèches gauche et droite */
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  
  /* Miniatures */
  .thumbnail-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .thumbnail-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
  }
  
  .thumbnail-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ff6600;
  }
  
  .thumbnail-image.selected {
    border: 2px solid #ff6600;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.5);
  }
  