/* AddEventModalComponent CSS */
mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

  form {
    width: 100%;
  }
  
  form .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .text-danger {
    font-size: 0.875rem;
    color: #dc3545;
  }
  
  .d-flex {
    margin-top: 20px;
  }
  
  button {
    min-width: 100px;
  }
  
  /* Style pour la carte maps*/
#map {
  border: 1px solid #ccc;
  border-radius: 4px;
}