<!-- Access Denied Content Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mb-5">
      <h5 class="text-danger text-uppercase mb-3" style="letter-spacing: 5px">
        Error 403
      </h5>
      <h1>You Don't Have Permission</h1>
      <p class="lead mt-3">
        Sorry, you don't have the required permissions to access this page.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light rounded p-5 text-center">
          <img
            height="200"
            src="https://cdn.dribbble.com/userupload/24092651/file/original-72fc68cb0c62d5429b7d9195cb49ad3c.gif"
          />
          <p class="mb-4">
            Please contact the administrator if you believe this is a mistake.
          </p>
          <div class="d-flex justify-content-center gap-3">
            <a routerLink="/" class="btn btn-primary py-2 px-4">Return Home</a>
            <a routerLink="/help" class="btn btn-outline-primary py-2 px-4"
              >Contact Support</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
