<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div
  id="main-wrapper"
  data-theme="light"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
  data-boxed-layout="full"
>
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <app-nav></app-nav>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <app-side-bar></app-side-bar>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper" style="display: block">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-8 align-self-center">
          <h4
            class="page-title text-truncate text-dark font-weight-medium mb-1"
          >
            Gestion Products
          </h4>
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item">
                  <a routerLink="/back" class="text-muted">Dashboard</a>
                </li>
                <li
                  class="breadcrumb-item text-muted active"
                  aria-current="page"
                >
                  Reviews
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-2 align-self-center">
          <div class="customize-input float-end">
            <select
              class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius"
            >
              <option selected>Name</option>
              <option value="1">Price</option>
              <option value="1">Product</option>
            </select>
          </div>
        </div>
        <div class="col-2 align-self-center">
          <div class="customize-input float-end">
            <select
              class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius"
            >
              <option selected>Ascending</option>
              <option value="1">Descending</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- basic table -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">All Reviews</h4>
              <div class="table-responsive">
                <table
                  id="zero_config"
                  class="table border table-striped table-bordered text-nowrap"
                >
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Content</th>
                      <th>CreatedAt</th>
                      <th>Updated At</th>
                      <th>Rating </th>
                      <th>Tools</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rev of reviews">
                      <td>{{rev.product}}</td>
                      <th>{{rev.content}}</th>
                      <th>{{rev.createdAt}}</th>
                      <th>{{rev.updatedAt}}</th>
                      <th>{{rev.rating}}</th>
                      <th>Delete</th>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center text-muted">
      All Rights Reserved by Freedash. Designed and Developed by
      <a href="https://adminmart.com/">Adminmart</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>