<div id="main-wrapper"
  data-theme="light"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
  data-boxed-layout="full"
>
   <app-nav></app-nav>
   <app-side-bar></app-side-bar>
   <div class="page-wrapper" style="display: block">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-8 align-self-center">
          <h4
            class="page-title text-truncate text-dark font-weight-medium mb-1"
          >
            Catgories Management
          </h4>
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item">
                  <a routerLink="/back" class="text-muted">Dashboard</a>
                </li>
                <li
                  class="breadcrumb-item text-muted active"
                  aria-current="page"
                >
                  Categories
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
   
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card shadow-sm border-0">
            <div class="card-body">
              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <h4 class="card-title mb-0 text-primary fw-semibold">
                  Categories Management
                </h4>
                <!-- <button class="btn btn-sm btn-outline-primary">
                  <i class="fas fa-download me-2"></i>Export CSV
                </button> -->
              </div>

              <!-- Search and Filter Row -->
              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-text"
                      ><i class="fas fa-search"></i
                    ></span>
                    <input
                      #searchInput
                      type="text"
                      class="form-control"
                      placeholder="Search Categories..."
                      (keyup)="filterTable(searchInput.value)"                             />

                  </div>
                </div>
                <div class="col-md-6" >
                  <button mat-raised-button class="btn btn-sm btn-outline-primary" 
                  (click)="openAddEditCatForm()"
                  style="margin-left: 400px; height: 40px;"
                  >
                  <i class="fas fa-plus me-2"></i>Add Category
                </button>
                </div>
                
              </div>

              <div class="table-responsive rounded-3">
                <table class="table table-hover align-middle mb-0">
                  <thead class="table-light">
                    <tr>
                      <th class="ps-4 fw-medium text-muted cursor-pointer"> Name
                      </th>
                      
                      <th class="fw-medium text-muted cursor-pointer"> Description
                      </th>
                      
                      <th class="fw-medium text-muted cursor-pointer" >
                        Status <i class="fas fa-sort ms-1"></i>
                      </th>
                      <th class="fw-medium text-muted cursor-pointer" >
                        Added at  <i class="fas fa-sort ms-1"></i>
                      </th>
                      <th class="fw-medium text-muted cursor-pointer" >
                        Operations <i class="fas fa-sort ms-1"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody  #categoryTableBody>
                    <tr *ngFor="let c of listCategories" >
                      <td class="ps-4">
                        <div class="d-flex align-items-center">
                          <img
                            class="rounded-circle me-3"
                            width="40"
                            height="40"
                              [src]="'data:' + c.imageType + ';base64,' + c.image"
                            alt="Category"
                          />   {{c.name}}
                        </div> 
                      
                      </td>
                      <td>{{c.description}}</td>
                       <td>
<span  [ngStyle]="{ color: c.status === 0 ? 'red' : 'green' }" >
  {{ c.status === 0 ? 'private' : 'public' }}
</span>

                                    </td>
                      <td class="text-muted">{{ c.date_ajout | date }}</td>
 <td  style="text-align: center;"  >
                                         <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"> 
                                            <i class="text-info fa fa-list"></i> 
                                        </button>
                                 <!-- <a   class="btn btn-sm btn-square btn-neutral text-danger-hover"  [routerLink]="['/updateCategory',c.id]">
                                  <i class="text-warning fa fa-edit"></i></a> -->
                                  <button mat-raised-button class="btn btn-sm btn-square btn-neutral text-danger-hover" 
        (click)="openEditCatForm(c.id)">
  <i class="text-warning fa fa-edit me-2"></i> 
</button>

                                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover" (click)="deleteCategorie(c.id)">
                                            <i class="text-danger fa fa-trash"></i>
                                        </button>
                                
                                    </td>                      
                    </tr>
                
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center text-muted">
      All Rights Reserved by Freedash. Designed and Developed by
      <a href="https://adminmart.com/">Adminmart</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
